@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #333333;
    overflow-x: hidden;
    transition: transform 0.8s linear;
}

.rotated {
    transform: rotate(-20deg);
    transform-origin: top left;
    transition: transform 0.8s linear;
}

.container {
    padding: 80px 23vw;
    background-color: #fafafa;
    overflow: hidden;
    /* width: 100%; */
    height: 100%;
    overflow-x: hidden;
    transform-origin: top left;
    transition: transform 0.8s linear;
}

.container h1 {
    color: #222222;
    letter-spacing: 0px;
}

.container h3 {
    color: #222222;
    margin: 20px 0;
}

.container h5 {
    margin-top: 2px;
    color: #555555;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
}

.container p {
    margin: 15px 0;
    line-height: 1.5;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.nav button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    background: transparent;
    border: 0;
    font-size: 28px;
    color: #fff;
    height: 100px;
    transition: transform 0.8s linear;
}

body .state{
    transition: transform 0.8s linear;
    transform-origin: top left;
}

.nav {
    background-color: #ff7979;

    width: 200px;
    height: 200px;
    border-bottom-right-radius: 50%;
    position: relative;
}

.circle {
    position: fixed;
    top: -100px;
    left: -100px;
}

.nav button.close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
    transition: transform 0.8s linear;
}

.rotated .nav button{
    transform: rotate(-20deg);
    transform-origin: top left;
    transition: transform 0.8s linear;
}

.rotated .nav .open{
    transform: rotate(-90deg);
    transform-origin: top left;
    transition: transform 0.8s linear;
}

.circle button.open {
    transform-origin: top left;
    left: 60%;
    transition: transform 0.8s linear;
}

ul{
    list-style: none;
    padding-left: 30px;
}

ul li{
    margin: 40px 0;
    color: #fff;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}
ul li+li{
    margin-left: 15px;
    transform: translateX(-150%);
}
ul li+li+li{
    margin-left: 30px;
    transform: translateX(-200%);
}
#testt{
    font-weight: 900;
    font-size: 20px;
    margin-right: 7px;
}

nav{
    position: fixed;
    bottom:40px;
    left:0;
    z-index: 1000;
}

.show{
    transform: translateX(0);
    transition-delay: 0.3s;
}

