body {
    margin: 0;
    background-color: #f6f7fb;
}

.line {
    display: flex;
    justify-content: space-between;
    margin: 280px 0 30px;
    position: relative;
    max-width: 100%;
    width: 350px;
}


.line::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #e0e0e0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: -1;
}

.con.actcon {
    border: 3px solid #53a8e0;
    transition: border 0.4s ease;
}

.con {
    color: #999999;
    font-family: 'Mile', sans-serif;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 3px solid #e0e0e0;
    border-radius: 100%;
    background-color: #fff;
    transition: border 0.4s ease;
}

.progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #53a8e0;
    transform: translateY(-50%);
    z-index: -1;
    transition: width 0.7s ease;
}


.btn {
    transition: background-color 0.4s ease;
    margin: 5px;
    padding: 8px 30px;
    border: 0px solid #53a8e0;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: #e0e0e0;
    font-size: 14px;
    font-family: 'Mile', sans-serif;
    font-weight: 300;
    color: #999999;
}

.btn p {
    color: #fff;
    margin: 0;
}

.btn.actbtn {
    background-color: #53a8e0;
}