body {
    background-color: #7660e9;
}

.container {
    margin: 25% 43% 0 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fa-search {

    background-color: #fff;
    width: 50px;
    height: 50px;
    font-size: 20px;
    position: absolute;
    top: -25px;
    right: 40%;
    cursor: pointer;
    transition: transform 0.7s ease;
    border:0px solid #7660e9;
}

input {
    border: none;
    width: 20px;
    height: 50px;
    padding:0 0 0 10px;
    position: absolute;
    font-size: 20px;
    border:0px solid #7660e9;
    transition: width 0.5s ease;
}

button:focus, input:focus {
    outline: none;
}

.onn{
    width: 200px;
}

.hover{
transform: translateX(79px);
}

